<header th:fragment="header" class="site-header">
    <div class="container">
    <span class="brand">
      <span class="brand__logo"></span>
      <span class="brand__title">Електронний журнал КПДЮ</span>
    </span>

        <nav class="header-nav">
            <a th:href="@{/admin/dashboard}" class="header-btn header-btn--primary">Адмін-панель</a>
            <a th:href="@{/head/home}" class="header-btn">Кабінет голови</a>
            <a th:href="@{/teacher/home}" class="header-btn">Кабінет викладача</a>
            <a th:href="@{/logout}" class="header-btn">Вийти</a>
        </nav>
    </div>
</header>
